.speech{
    font-size: 20px;
    color: black;
}
.direction{
    font-size: 25px;
    color:black;
    background-color: antiquewhite;
    
      
}
.direction:hover{
 color: red;
 font-size: 15px;
 background-color:beige;
}

.LUKA{
    color:rgb(50, 150 , 200);
    font-size: 20px;
}

.MRSPOPOV{
    color: rgb(30, 100, 150);
    font-size: 15px;
}

table, th, td {
    border: 2px solid;
    border-spacing: 40px;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    margin: 25px 50px 75px 380px;
}
tr:hover {background-color: orange;}

th {
        background-color: rgb(76, 102, 76);
        color: black;
    }
      
tr:nth-child(even) {
        background-color: #e3dede;
      }

.LUKA:hover{
    color: green;
    border: dotted 2px aqua;
    text-shadow: 4px 5px 9px blue;
}
.MRSPOPOV:hover{
    color: blueviolet;
    border: dotted 3px red;
    text-shadow: 4px 3px 8px crimson ;
}     

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #214a32;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(177, 205, 24);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #73106c;
  }
